.fp {
	width: 100%;
	max-width: 1024px;
	display: flex;
	justify-content: space-between;
	gap: 20px;
}

.fpItem {
	flex: 1;
	gap: 10px;
	display: flex;
	flex-direction: column;
}

.fpImg {
	width: 100%;
}

.fpName {
	font-weight: bold;
}

.fpCity {
	font-weight: 300;
}

.fpPrice {
	font-weight: 500;
}

.fpRating>button {
	background-color: #003580;
	color: white;
	border: none;
	padding: 3px;
	margin-right: 10px;
	font-weight: bold;
}

.fpRating>span {
	font-size: 14px;
}

/* Mediaquery voor mobiele schermen */
@media (max-width: 768px) {
	.fp {
		flex-direction: column;
		/* Items stapelen onder elkaar */
		align-items: center;
		/* Centreer items horizontaal */
		gap: 10px;
		/* Voeg een ruimte van 10px tussen de items toe */


	}

	.fpItem {
		width: 98%;
		/* Volledige breedte innemen */
		height: auto;
		/* Pas de hoogte aan de inhoud aan */
		border: 1px solid gray;
		background-color: #003580;

	}

	.fpItem img {
		object-fit: cover;

	}

	.fpName,
	.fpCity,
	.fpPrice,
	.fpRating {
		color: white;

	}

}