/* Originele CSS voor desktopschermen */
.featured {
	width: 100%;
	max-width: 1024px;
	display: flex;
	justify-content: space-between;
	gap: 20px;
	z-index: 1;
}

.featuredItem {
	position: relative;
	color: white;
	border-radius: 10px;
	overflow: hidden;
	height: 250px;
}

.featuredImg {
	width: 100%;
	object-fit: cover;
}

.featuredTitles {
	position: absolute;
	bottom: 20px;
	left: 20px;
}

/* Mediaquery voor mobiele schermen */
@media (max-width: 768px) {
	.featured {
		flex-direction: column;
		/* Items stapelen onder elkaar */
		align-items: center;
		/* Centreer items horizontaal */
		gap: 10px;
		/* Voeg een ruimte van 10px tussen de items toe */


	}

	.featuredItem {
		width: 98%;
		/* Volledige breedte innemen */
		height: auto;
		/* Pas de hoogte aan de inhoud aan */
		border: 1px solid gray;
		background-color: #003580;
	}

	.featuredTitles {
		position: static;
		/* Terug naar normale positie */
		text-align: center;
		/* Centreer tekst */
	}
}